
.vs/analog_note_mouse_hook/project-colors.json
.vs/analog_note_mouse_hook/v17/.suo
.vs/analog_note_mouse_hook/v17/Browse.VC.db
.vs/analog_note_mouse_hook/v17/ipch/c0a8ef595e72a9f8.ipch
.vs/analog_note_mouse_hook/v17/ipch/e66492b6b31c0398.ipch
.vs/analog_note_mouse_hook/v17/Solution.VC.db
